:root {
  --color-negative: #eeeeee;
  --color-negative-plus-3: #ffffff;
  --color-negative-plus-2: #f8f8f8;
  --color-negative-plus-1: #f4f4f4;
  --color-positive: black;
  --color-positive-inverse: white;
  --color-accent-1: #7950E2;
  --color-accent-2: #51BD96;
  --font-family-1: 'Red Hat Text', sans-serif;
}
